@import "tailwindcss";
@import "../styles/pagesTailwind/app.css";
@import "../styles/pagesTailwind/home.css";
@import "../styles/pagesTailwind/products.css";
@import "../styles/pagesTailwind/success.css";
@import "../styles/pagesTailwind/quantityInput.css";

body {
  -webkit-font-smoothing: antialiased;
  background-color: #121214;
}

body, input, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
